extends nav-lists

append head
  script(src="/javascripts/task-edit.js")

block main-container
  div.edit-container
    h2= task.name
    .create-note
      form(id=`edit_${task.id}` class='create-form__form')
        input(type='hidden' name='id' value= task.id)
        label(for='new-note') New Note:
        textarea(id='new-note' class='create-form__textarea' type='text' name='note')
        button(class='create-form__save-button' type='submit') Save
    .notes
      .notes__note-list
        each note in notes
          div(class='notes__note-div')=note.note
          div(class='notes__delete-icon')
            i(class='fa fa-trash' id='#{note.id}')
