extends layout
block content
  div
    ul
      li: a(href='/users/signup') Sign up
  form(action='/users/login' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    div.form__div-title: h2 Log In
    div.form__div-label: label Email
    div.form__div-input: input(type='text' name='email' placeholder='example@email.com')
    div.form__div-label: label Password
    div.form__div-input: input(type='password' name='password')
    div.form__div-button: button(type='submit') Login
