extends layout

append head
  script(src='/javascripts/left-container.js')

block content
  .navigation-body
    div.navbar
      .navbar__menu-div
        div.navbar__menu-div-icon-div: i(class='fa fa-bars')
      .navbar__search-div
        form(action='/search'  method='get' class='navbar__search-form')
          input(class='navbar__search-input' type='text' placeholder='search...' required)
          button(class='navbar__search-button' type='submit'): i(class='fa fa-search')
        .navbar__search-error
          ul
      nav.navbar__nav
        a(href='/users/logout'): i(class='fa fa-sign-out fa-2x')
    .left-container
      div.left-container__logo-div
        div.left-container__logo-image
        div.left-container__logo-text-div
          h1.left-container__logo-text Get Some Eggs While You're At It
      nav.left-container__nav
        .left-container__category-div
          div.left-container__category-header-div: h2 Lists
          div.left-container__list-row-container
            each list in lists
              div(id=list.htmlId).left-container__list-row
                a(href=list.href)= list.name
                div.left-container__delete-button-div: div.left-container__delete-icon: i(id=list.deleteHtmlId class='fa fa-trash')
          .left-container__add-list-div
            form(class='left-container__add-list-form')
              input(class='left-container__list-input' name='name' type='text' placeholder='new list...' required)
              button(type='submit' class='left-container__list-button')
                i(class='fa fa-plus')
    .main-container
      block main-container
