extends layout

append head
  script(src="/javascripts/left-container.js")

block content
  .navigation-body
    .navbar
      .navbar__name-div
        span.navbar__name-span What needs to be done today #{user.firstName}?
      .navbar__search-div
        form(action='/search'  method='get' class='navbar__search-form')
          input(class='navbar__search-input' type='text' placeholder='Enter search here...' required)
          button(class='navbar__search-button' type='submit') Search
        .navbar__search-error
          ul
      nav.navbar__nav
        a(href='/user/logout') Logout
    .left-container
      nav.left-container__nav
        div.left-container__lists-div
          ul.left-container__category-ul
            li: a(href='/list/inbox') Inbox
            li: a(href='/task') All
            li: a(href='/list/work') Work
            li: a(href='/list/personal') Personal
              each list in lists
                li: a(href='/lists/#{list.id}')= list.name
          .left-container__add-list-div
            form(class='left-container__add-list-form')
              input(class='left-container__list-input' name='name' type='text' placeholder='Create a new list...' required)
              button(type='submit' class='left-container__list-button') Create
    .main-container
      block main-container
