extends nav-lists

block main-container
  .main-container__name-div
    h2.main-container__name-span= searchTitle
  .main-container__tasks
    div.main-container__tasks-list
      each task in tasks
        div.main-container__task-row-wrapper
          div.main-container__task-row
            div.main-container__checkbox-div: input(id=task.checkboxId type='checkbox').main-container__checkbox
            a(id=task.htmlId href=task.href)= task.name
            div.main-container__delete-button-div
