extends layout
block content
  form(action='/users' method='post')
    input(type='hidden' name='_csrf' value= csrfToken)
    div
      label First Name
        input(type='text' name='firstName' placeholder='First Name' required)
    div
      label Last Name
        input(type='text' name='lastName' placeholder='Last Name' required)
    div
      label Email
        input(type='text' name='email' placeholder='Email' required)
    div
      label Password
        input(type='password' name='password' placeholder='Password' required)
    button(type='submit') Sign up
