:root {
	--yellow: #e9c200;
	--light-yellow: #faefb4;
	--h1:#150700;
	--left-container-width: 240px;
	--standard-margin: 20px;
}

h1 {
  color: var(--h1);
}

html {
	height: 100%;
	width: 100%;/*
	background-color: #111111;
	color: lightgray;*/
}

body {
	height: 100%;
	width: 100%;
}
