:root {
	--theme1: #81450a;
	--theme5: #b66b13;
	--theme3: #e5af2f;
	--theme4: #fbce43;
	--theme2: #fae3bf;
	--h1:#150700;
	--left-container-width: 200px;
	--header-font: 'Arvo', serif;
}

* {
  	font-family: var(--header-font);

}

h1, h2 {
	font-weight: bold;
}

html {
	height: 100%;
	width: 100%;/*
	background-color: #111111;
	color: lightgray;*/
}

body {
	height: 100%;
	width: 100%;
}
