.edit-container__notes {
  animation: transitionIn 750ms;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.edit-container__name-div {
    margin: var(--standard-margin) 0 4px var(--standard-margin)
  }

  .edit-container__notes {
    margin: 0 var(--standard-margin) 0 0;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    height: 100%;
    width: 100%;
  }

  .edit-container__note-list {
    padding: 0;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .edit-container__note-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    min-height: 30px;
    border-radius: 4px;
  }

  .edit-container__note-row + .edit-container__note-row {
    border-top: 1px solid var(--row-seperator);
  }

  .edit-container__note-row .edit-container__note-content {
    display: flex;
    align-items: center;
    height: auto;
    width: 100%;
    text-decoration-line: none;
    justify-content: space-between;
    word-break: break-word;
    margin-top: 10px;
    padding: 4px
  }

  .edit-container__p {
    margin: 0;
    padding: 4px 4px 4px 0;
    width: auto;
  }
  .edit-container__note-row:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.05) 0 0);
  }

  .edit-container__note-row *:hover {
    cursor: pointer;
  }

  .edit-container__delete-button-div {
    height: 100%;
    display: flex;
    align-items: flex-end;
  }

  .fa-trash:hover {
    cursor: pointer;
    color: red;

  }

  .edit-container__new-note {
    overflow: hidden;
    width: 360px;
    display: flex;
    justify-content: space-between;
  }

  .edit-container__textarea {
    border: none;
    border-bottom: 1px solid lightgray;
    height: var(--row-height);
    padding: 0 0 0 10px;
    background-color: inherit;
    width: 90%;
  }

  .edit-container__textarea:focus {
    background-color: white;
  }

  .edit-container__note-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: inherit;
    border: none;
    box-shadow: none;
    border-radius: 0;
  }
