.navigation-body {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template: 40px auto / var(--left-container-width) 1fr;
	grid-template-areas:
			"navbar navbar"
			"left-container main-container";
}

.navbar {
  grid-area: navbar;
  height: 40px;
  background-color: var(--theme1);
  display: grid;
  grid-template: auto / var(--left-container-width) 4fr 1fr;
  grid-template-areas:
    "name search nav";
}

.navbar > div,
.navbar > nav {
  height: 32px;
  display: flex;
  height: 100%;
}

.navbar__name-div {
  grid-area: name;
  padding: 4px;
}

.navbar__name-span {
  font-size: 10pt;
}

.navbar__search-div {
  grid-area: search;
  padding: 4px 4px 4px var(--standard-margin);
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.navbar__navbar_nav {
  grid-area: nav;
  padding: 4px;
}

.navbar__search-form {
  display: flex;
  flex-direction: row;
  width: 360px;
  height: 100%;
}

.navbar__search-input {
  width: 80%;
  height: 100%;
  border: 1px solid gray;
  border-radius: 4px;
  margin-right: 4px;
  padding: 4px;
}

.navbar__search-button {
  width: 20%;
  min-width: 80px;
  height: 100%;
  border: 1px solid gray;
  border-radius: 4px;
}

.navbar__nav {
  justify-content: flex-end;
  align-items: center;
  padding: 4px 40px;
}

.left-container {
  grid-area: left-container;
  background-color: var(--theme2);
  padding-top: var(--standard-margin);
}

.left-container__logo-div {
  width: 100%;
  height: 120px;
  display: flex;
  padding: 0 var(--standard-margin)
}

.left-container__logo-image {
  width: 50%;
  height: 100%;
  background-image: url(../../assets/egg.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.left-container__logo-text-div {
  width: 50%;
  display: flex;
  align-items: flex-end;
}

.left-container__logo-text {
  height: auto;
  font-size: 1.1em;
  line-height: 1.3em;
}


.left-container__nav {
  padding: var(--standard-margin);
}

.left-container__category-header-div {
  margin-bottom: 10px;
}

.left-container__list-row {
  display: flex;
  justify-content: space-between;
  height: var(--row-height)
}

.left-container__list-row a {
  display: block;
  width: 100%;
  text-decoration-line: none;
  padding-left: 10px;
}

.left-container__list-row a:hover {
  background-color: lightgrey;
}

.left-container__add-list-form {
  display: inline;
  width: 100%;
  padding: 0;
}

.main-container {
  grid-area: main-container;
  background-color: var(--theme2);
}
