.main-container__name-div {
  margin: var(--standard-margin) 0 4px var(--standard-margin)
}

.main-container__tasks {
  margin: 0 var(--standard-margin) 0 0;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  height: 100%;
}

.main-container__tasks-list {
  padding: 0;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.main-container__task-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  border-radius: 4px;
}

.main-container__task-row + .main-container__task-row {
  border-top: 1px solid var(--row-seperator);
}

.main-container__task-row a {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  text-decoration-line: none;
}

.main-container__task-row:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.05) 0 0);
}

.main-container__task-row *:hover {
  cursor: pointer;
}

.main-container__checkbox-div {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main-container__task-name-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-container__delete-button-div {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
